= simple_form_for([current_user, @ad]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :content
    = f.file_field :image
    = f.association :category

  .form-actions
    = f.button :submit
