= simple_form_for([current_user, @ad], class: "form-horizontal") do |f|
  = f.error_notification

  .form-inputs
    .form-group.col-md-12
      = f.input :name
    .form-group.col-md-12
      = f.input :content
    .form-group.col-md-12
      %h3 Image Attachments
      #tasks
        = f.simple_fields_for :ad_image_attachments do |ad_image_attachment|
          = render 'ad_image_attachment_fields', :f => ad_image_attachment
        .links
          = link_to_add_association 'Add image attachment', f, :ad_image_attachments
    .form-group.col-md-12
      = f.association :category, input_html: {class: "select2"}

  .form-actions
    = f.button :submit, class: "btn btn-success"
