.container
  %h1 Listing ads

  - @ads.each do |ad|
    %h1 
      = ad.category.name
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Content
          %th Image
          %th
          %th
          %th
          %th
      %tbody
        %tr
          %td= ad.name
          %td= ad.content
          %td= image_tag(ad.image_url(:thumb)) if ad.image?
          %td= link_to 'Show', user_ad_path(current_user, ad)
          %td= link_to 'Edit', edit_user_ad_path(current_user, ad)
          %td= link_to 'Destroy', user_ads_path(current_user, ad), :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Ad', new_user_ad_path(current_user)
