.container
  %p#notice= notice

  %p
    %b Name:
    = @ad.name
  %p
    %b Content:
    = @ad.content
  %p
    %b Category:
    = @ad.category.name

  %p
    %b Image:
    - if @ad.ad_image_attachments
      .image-slider
        - @ad.ad_image_attachments.each do |ad_image|
          = image_tag(ad_image.image_url(:thumb))

  %hr

  = link_to 'Edit', edit_user_ad_path(current_user, @ad), class: "btn btn-xs"
  \|
  = link_to 'Back', user_ads_path(current_user), class: "btn btn-xs"
