%p#notice= notice

%p
  %b Name:
  = @ad.name
%p
  %b Content:
  = @ad.content
%p
  %b Image:
  = image_tag @ad.image_url(:thumb) if @ad.image
%p
  %b Category:
  = @ad.category.name

= link_to 'Edit', edit_user_ad_path(current_user, @ad)
\|
= link_to 'Back', user_ads_path(current_user)
