/ Static navbar
.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Codingmart", root_path,  class: "navbar-brand"
    .navbar-collapse.collapse
      - if user_signed_in?
        %ul.nav.navbar-nav
          %li
            = link_to "Ads", ads_path
          - if current_user.is_admin?
            %li
              = link_to "Admin", "/admin"
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to "#{current_user.email}", edit_user_path(current_user) 
          %li
            = link_to "Sign out", destroy_user_session_path, method: "DELETE"
        - else
          %li
            = link_to "Sign in", new_user_session_path
    / /.nav-collapse
  / /.container-fluid
